.footer{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    bottom: 0;
    padding: 15px;
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 233, 233);
    background-color: black;
    border-radius: 5px 5px 0px 0px;
}

@media only screen and (max-width: 600px) {
    .footer{
        font-size: 13px;
}
}